services:
  app:
    container_name: app
    build: .
    develop:
      watch:
        - action: rebuild
          path: package.json
        - action: sync
          path: .
          target: ./app
          ignore:
            - node_modules/
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
